<div class="container">
{{#each model as |video|}}
  <div class="row">
      <div class="col-md-8 col-lg-7">
        {{ember-youtube ytid=video.ytid}}
      </div>
      <div class="col-md-4 col-lg-5">
        <div>
          <h3>This has {{video.riffs.length}} riffs! Want to join in?</h3>
            <button {{action 'openVideo' video}}>Riff on this!</button>
        </div>
      </div>
    </div>
    {{/each}}
  </div>

  {{footer-comp}}



  {{!-- {{ember-youtube ytid=video.ytid}}
  <button {{action 'openVideo' video}}>Riff on this!</button>
  {{video.users}} --}}
