{{#if isDisplayed}}
  {{#link-to 'riff' riff}}

{{#if isUser}}
  <span class="user-riff">{{riff.user.email}}</span>
{{else}}
  <span class="other-riff">{{riff.user.email}}</span>
{{/if}}
  <br>
  <span class="riff-text">{{riff.text}}</span>
  <span class="riff-stamp">-- @{{stampTime}}</span>{{/link-to}}
{{/if}}
